* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: calc( 4px + 1vw )
}
body{
    background-color: rgb(17, 26, 12);
    width: 90%;
    max-width: 1000px;
    margin: auto;
    color: rgb(186, 219, 159);
}
header, nav, article, aside, footer {
    border: 1px solid rgb(186, 219, 159);
    padding: 10px;
}
header{
    background-image: url(viragok_orsi/fejh2.jpg);
    text-align: center;
    color: rgb(255, 255, 255);
}
header>h1{
    font-size: xx-large;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
    list-style-type: none;
}
nav li {
    border: 1px solid rgba(155, 241, 169, 0.178);
    text-align: center;
}
nav li a{
    color: rgb(67, 79, 42);
    text-decoration: none;
}
nav li:hover a{
    color: rgb(255, 255, 255);
    background-color: rgb(67, 79, 42);
}
nav li:hover{
    background-color: rgb(67, 79, 42);
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    padding-bottom: 30px;
}

h1{
    padding-bottom: 10px;
}

div#elso{
    padding: 10px;
    text-align: center;
}

.elsoszoveg{
    font-size: 25px;
    padding-bottom: 15px;
}
.viragneve{
    font-size: 25px;
    text-align: center;
}

img{
    max-width: 320px;
    max-height: 214px;
    float: left;
    
}

div#kep1{
    padding-top: 53px;
}
div#kep2{
    padding-top: 113px;
}

.szoveg{
    text-align: justify;
}
div#kep3{
    padding-top: 78px;
}

div#kep4{
    padding-top: 90px;
}

div#kep5{
    padding-top: 79px;
}

div#kep6{
    padding-top: 65px;
}

div#kep7{
    padding-top: 80px;
}

footer{
    text-align: center;
    color: rgb(186, 219, 159);
    padding: 5px;
}

div#kep8{
    padding-top: 100px;
}

div#kep9{
    padding-top: 118px;
}

div#kep10{
    padding-top: 81px;
}

div#kep11{
    padding-top: 102px;
}