* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: calc( 4px + 1vw )
}
body{
    background-color: rgb(17, 26, 12);
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
header, nav, article, aside, footer {
    border: 1px solid rgb(186, 219, 159);
    padding: 10px;
}
header{
    background-image: url(viragok_orsi/fejh2.jpg);
    text-align: center;
    color: rgb(255, 255, 255);
}
header>h1{
    font-size: xx-large;
}
aside {
    border-radius: 1%;
    background-color: rgb(67, 79, 42);
    display: grid;
    height: 100%;
}
article{
    display: grid;
    height: 100%;
    gap: 10px;
    border-radius: 1%;
    background-color: rgb(143, 145, 66);
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
    list-style-type: none;
}
nav li {
    border: 1px solid rgba(155, 241, 169, 0.178);
    text-align: center;
}
nav li a{
    color: rgb(67, 79, 42);
    text-decoration: none;
}
nav li:hover a{
    color: rgb(255, 255, 255);
    background-color: rgb(67, 79, 42);
}
nav li:hover{
    background-color: rgb(67, 79, 42);
}
aside ul>li{
    list-style-type: none;
    margin-top: 10px;
    border-bottom: 1px solid rgb(39, 48, 25);
}
aside li a{
    color: rgb(30, 34, 20);
    text-decoration: none;
}
aside li:hover a{
    color: rgb(172, 197, 116);
    background-color: rgb(67, 79, 42);
}
aside li:hover{
    background-color: rgb(67, 79, 42);
}
.felgomb {
    text-align: center;
}
.felgomb a{
    text-decoration: none;
    color: rgb(208, 252, 157);
    text-decoration: underline;
}
.kovetkezo{
    text-align: right;
}
.kovetkezo a{
    text-decoration: underline;
    color: rgb(208, 252, 157);
    font-size: smaller;
    padding: 10px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    padding-bottom: 30px;
}

h1{
    padding-bottom: 10px;
}

div#elso{
    padding: 10px;
    text-align: center;
}

.elsoszoveg{
    font-size: 25px;
    padding-bottom: 15px;
}
.viragneve{
    font-size: 25px;
    text-align: center;
}

img{
    max-width: 320px;
    max-height: 214px;
    float: left;
    margin: 10px;
}

div#kep1{
    padding-top: 53px;
}
div#kep2{
    padding-top: 113px;
}

.szoveg{
    text-align: justify;
}
div#kep3{
    padding-top: 78px;
}

div#kep4{
    padding-top: 90px;
}

div#kep5{
    padding-top: 79px;
}

div#kep6{
    padding-top: 65px;
}

div#kep7{
    padding-top: 80px;
}

footer{
    text-align: center;
    color: rgb(186, 219, 159);
    padding: 5px;
}

div#kep8{
    padding-top: 100px;
}

div#kep9{
    padding-top: 118px;
}

div#kep10{
    padding-top: 81px;
}

div#kep11{
    padding-top: 102px;
}

div#kep12{
    padding-top: 75px;
}

div#kep13{
    padding-top: 80px;
}

div#kep14{
    padding-top: 68px;
}

div#kep15{
    padding-top: 67px;
}

div#kep16{
    padding-top: 66px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: 
    "h h h"
    "n n n"
    "as ar ar"
    "f f f";
    gap: 10px;
}
header{
    grid-area: h;
}
nav{
    grid-area: n;
}
aside{
    grid-area: as;
}
article{
    grid-area: ar;
}

footer{
    grid-area: f;
}

@media screen and (max-width:700px) {
    main { 
        display: grid;  
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "h h"
        "n n"
        "as ar"
        "f f";
    } 
}

@media screen and (max-width:400px) {
      main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "n"
        "as"
        "ar"
        "f";
      }
}