* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: calc( 4px + 1vw )  
}
body{
    background-color: rgb(17, 26, 12);
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
header, nav, article, aside, footer {
    border: 1px solid rgb(186, 219, 159);
    padding: 10px;
}
header{
    background-image: url(viragok_orsi/fejh2.jpg);
    text-align: center;
    color: rgb(255, 255, 255);
}
header>h1{
    font-size: xx-large;
}
.idezet{
    text-align: center;
    color: black;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
    list-style-type: none;
}
nav li {
    border: 1px solid rgba(155, 241, 169, 0.178);
    text-align: center;
}
nav li a{
    color: rgb(67, 79, 42);
    text-decoration: none;
}
nav li:hover a{
    color: rgb(255, 255, 255);
    background-color: rgb(67, 79, 42);
}
nav li:hover{
    background-color: rgb(67, 79, 42);
}
aside ul>li{
    list-style-type: none;
    margin-top: 10px;
    border-bottom: 1px solid rgb(39, 48, 25);
}
aside li a{
    color: rgb(30, 34, 20);
    text-decoration: none;
}
aside li:hover a{
    color: rgb(172, 197, 116);
    background-color: rgb(67, 79, 42);
}
aside li:hover{
    background-color: rgb(67, 79, 42);
}
aside {
    border-radius: 1%;
    background-color: rgb(67, 79, 42);
    display: grid;
    height: 100%;
}
article{
    display: grid;
    height: 100%;
    gap: 10px;
    border-radius: 1%;
    background-color: rgb(143, 145, 66);
}
.kepek>img{
    width: 30%;
    border: 1px solid rgba(186, 219, 159);
    border-radius: 1%;
    margin: 10px;
    height: 70%;
}
.topkepek>img{
    width: 30%;
    border: 1px solid rgba(186, 219, 159);
    border-radius: 1%;
    margin: 10px;
    max-height: 300px;
}
.viragnyelvkep>img{
    width: 30%;
    border: 1px solid rgba(186, 219, 159);
    border-radius: 1%;
    margin: 10px;
    max-height: 250px;
}
.kep>img{
    width: 40%;
    border-radius: 1%;
    margin: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.doboz{
    border: 1px solid rgba(0, 0, 0, 0.664);
    border-radius: 1%;
    margin: 2px;
    background-color: rgb(127, 170, 144);
}
.cim{
    text-decoration: underline;
}


footer>p {
    text-align: center;
    color: rgb(186, 219, 159);
    padding: 5px;
}
.felgomb {
    text-align: center;
}
.felgomb a{
    text-decoration: none;
    color: rgb(208, 252, 157);
    text-decoration: underline;
}
.kepszoveg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.kepszoveg p{
    font-size: small;
    text-align: center;
}
.viragkep>img{
    width: 30%;
    border: 1px solid rgba(186, 219, 159);
    border-radius: 1%;
    margin: 10px;
    max-height: 250px;
}
.kovetkezo{
    text-align: right;
}
.kovetkezo a{
    text-decoration: underline;
    color: rgb(208, 252, 157);
    font-size: smaller;
}
#mitologia>h1{
    font-size: x-large;
}
#viragnyelv>h1{
    font-size: x-large;
}
#topharom{
    font-size: x-large;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: 
    "h h h"
    "n n n"
    "as ar ar"
    "f f f";
    gap: 10px;
}
header{
    grid-area: h;
}
nav{
    grid-area: n;
}
aside{
    grid-area: as;
}
article{
    grid-area: ar;
}

footer{
    grid-area: f;
}

@media screen and (max-width:700px) {
    main { 
        display: grid;  
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "h h"
        "n n"
        "as ar"
        "f f";
    } 
}

@media screen and (max-width:400px) {
      main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "n"
        "as"
        "ar"
        "f";
      }
}